* {
    box-sizing: border-box;
    background-color: darkgoldenrod;
}

@media screen and (max-width: 500px) {
    .body {
        width: 50px;
    }
    
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 50px;
}

.quiz-questions {
    display: block;
}

.background {
    padding: 50px;
}

.container {
    display: block;
    margin: 100px;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.questions {
    padding: 5px 5px 5px 5px;
    background-color: black;
    color: white;
}

#startBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 50px;
}

#submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 50px;
}